@import "compass";
@import "compass_twitter_bootstrap/mixins";

body {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 11px;
    line-height: 24px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #121212;
    color: white;
    text-align: center;
    background-image: url(../images/bgGrid.png);
    background-size: 100%;
    background-repeat:no-repeat;
}

#logo{
    position: absolute;
    top: 20px;
    left: 20px;
}

hr{
    position: relative;
    top: 353px;
    border: 0;
    border-top: 1px solid #ff007e;
    opacity: .5;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:263px;   /* Height of the footer */
   background-image: url(../images/footerFade.png);
   z-index: -10;
}

#footerContent
{
   position:absolute;
   bottom:15px;
   width:100%;
   height:30px;   /* Height of the footer */
   z-index: -8;

}

#footerContentRight
{
    padding-right: 20px;
    float: right;
}

#footerContentLeft
{
    padding-left: 20px;
    float: left;
}

#aboutLink{
    position: absolute;
    color: #999;
    text-decoration: underline;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#whyPage {
    position: absolute;
    top: 0px;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: none;
    z-index: 100;
}

#closeAbout{
    width: 120px;
    margin: 0 auto;
    float: none;
    margin-top: 15px;
}

#moLogo, #twitterCount, #fbCount, #gCount, #chromeExp{
    float: right;
}

#twitterCount, #fbCount, #gCount{
    margin-top: 7px;
}

#fbCount, #gCount, #chromeExp{
    margin-right: 15px;
}

#twitterCount{
    margin-right: -15px;
}

#nameForm{
    display: none;
}

input{
    color: #999;
    background: #333;
    border: 0;
    height: 26px;
    width: 307px;
    margin: 3px;
    padding-left: 10px;
    float: left;
}

.stacheButton
{
    letter-spacing: 1px;
    cursor: pointer;
    color: #ff007e;
    text-transform:uppercase;
    margin: 0 auto;
    font-size: 20px;
    font-family:'ApexNew-Book';
    text-align: left;
    width: 200px;

}

.buttonContent
{
    float: left;
    padding-top: 5px;
}

.buttonContent.big
{
    padding-top: 23px;
}


.arrow
{
    /*Transition Parameters*/
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 20px;
    padding-left: 7px;
    float: left;
}

.arrow.left
{
    padding-right: 7px;
}

.stacheButton.small
{
    font-size: 15px;
}

.stacheButton.big
{
    font-size: 26px;
    height: 62px;
    font-family:'ApexNew-Light';
}

#acceptImage, #retakePic
{
    display: none;
    position: relative;
    top: -242px;
}

#acceptImage
{
    float: right;
    position: relative;
    left: 9px;
}

#retakePic{
    float: left;
    position: relative;
    left: 6px;
    width: 200px;
    text-align: right;
}

#retakePic > div{
    float: right;
}

.stacheButton.big.inactive
{
    color: #333;
    cursor: pointer;
}

.stacheButton.big.left
{
    text-align: right;
}

.stacheButton.big.left.inactive
{
    color: #333;
}


#nextBack
{
    width: 650px;
    position: relative;
    top: -270px;
    margin: 0 auto;
}

#amp
{
    display: none;
    position: relative;
    top: -70px;
}
#startOver
{
    float: none;
    margin: 0 auto;
    width: 200px;
    position: relative;
    top: -900px;
    display: none;
    z-index: 30;
}

#makeOwn
{
    float: none;
    margin: 0 auto;
    width: 300px;
    position: relative;
    top: -878px;
    display: none;
    z-index: 30;
}

#starter
{
    display: none;
    width: 150px;
    z-index: 10;
    position: relative;
    top: -55px;
}


#takePicture
{
    display: none;
    margin: 0 auto;
    width: 260px;
    cursor: pointer;
}


#cameraPic
{
    height: 106px;
    width: 106px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/cameraBoth.png) no-repeat;
    z-index: 20;
}


#cameraPic:hover
{
    background-position: 0 -106px;
}


#redoPicture
{
    display: none;
    margin: 0 auto;
    width: 120px;
    cursor: pointer;

}

#redoPic
{
    height: 106px;
    width: 106px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/redoBoth.png) no-repeat;
}

#redoPic:hover
{
    background-position: 0 -106px;
}

#getPoints
{
    width: 145px;
    display: none;
}


#adjust
{
    display: none;
    margin: 0 auto;
}

#contentArea{
    width: 960px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

#pictureViewer
{
    height: 510px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    z-index: -2;
}

#pictureViewer.ready
{
    height: 410px;
    width: 410px;
    padding: 10px;
    background: url(../images/camCorner.png) no-repeat center center;
}

#canvasHolder{
    width: 294px;
    height: 374px;
    overflow: hidden;
    padding: 12px;
    padding-left: 92px;
}
#output {
    -webkit-transform: scale(-1, 1);
    position: relative;
    left: -80px;
}

#imageHolder {
    overflow: hidden;
    width: 386px;
    height: 386px;
    margin: 0 auto;
    margin-top: -386px;
    -webkit-transform: scale(-1, 1);

}

#imageHolder img{
    position: relative;
    top: 0px;
    left: 0px;
}
        

#mustacheMolder {
    display:none;
    overflow: hidden;
    position: relative;
    top: -386px;
    width: 386px;
    height: 386px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 8;
}

#mustacheWave {
    overflow: hidden;
    position: relative;
    top: -820px;
    width: 386px;
    height: 386px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 6;
}

#analyzing{
    position: relative;
    top: -820px;
    display: none;
}

#analyzing img{
    display: none;
}


#loadStache{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/homeStache2.png) no-repeat center center;
    background-size: 1280px 0px;
    -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    

}

#yourInfo
{
    margin: 0 auto;
    font-family:'ApexNew-Medium';
    text-align: left;
    position: relative;
    left: 300px;
    display: none;
    z-index: 50;
}

#yourPic
{
    height: 130px;
    width: 130px;
    overflow: hidden;
    -webkit-transform: scale(-1, 1);
    border: 1px solid #666;
    float: left;
    margin-right: 15px;
}

#formPic
{
    height: 60px;
    width: 60px;
    overflow: hidden;
    -webkit-transform: scale(-1, 1);
    border: 1px solid #666;
    float: left;
    margin-right: -13px;
    margin-top: 3px;
    margin-left: 86px;
    margin-right: 5px;
}

#yourSongName
{
    font-size: 18px;
    color: #ff007e;
}

#yourName
{
    font-size: 12px;
}

#playPause
{
    height: 60px;
    width: 60px;
    overflow: hidden;
    background: url(../images/playPause.png) no-repeat;
    cursor: pointer;
    z-index: 20;
}

#playPause:hover
{
    background-position: 0 -60px;
}

#playPause.pause
{
    background-position: -60px 0;
}

#playPause.pause:hover
{
    background-position: -60px -60px;
}

#export{
    z-index: 25;
}

#timer, #downloadSong, #shareSong, #shareDivider{
    float: left;
    padding-top: 4px;
    padding-right: 5px;
}
#timer{
    padding-right: 10px;
    width: 65px;
}

#shareBubble
{
    width: 358px;
    height:36px;
    background: url(../images/shareBubble.png) no-repeat;
    float: left;
    position: relative;
    left: -120px;
    top: -25px;
    z-index: 100;
    display: none;
    padding-top: 5px;
    padding-left: 5px;

}

#fbShare, #twitterShare, #googleShare
{
    float: left;
    cursor: pointer;
    padding-right: 10px;
}

#fbShare{
    padding-left: 1px;
    margin-top: -7px;
    padding-right: 0px;
    margin-right: -5px;
}


@keyframes myfirst
{
    0% {
        mask-position: -1280px 0px;
    }
    100% {
        mask-position: 0px 0px;
    }
}
@-moz-keyframes myfirst /* Firefox */
{
    0% {
        -moz-mask-position: -1280px 0px;
    }
    100% {
        -moz-mask-position: 0px 0px;
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0% {
        -webkit-mask-position: -1280px 0px;
    }
    100% {
        -webkit-mask-position: 0px 0px;
    }
}


#fillClosed
{
    z-index: 10;
    position: relative;
}

path
{
    cursor: pointer;
}

circle
{
    cursor: pointer;
}

@font-face {
    font-family: 'ApexNew-Book';
    src: url('../fonts/ApexNew-Book.eot');
    src: url('../fonts/ApexNew-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ApexNew-Book.woff') format('woff'),
        url('../fonts/ApexNew-Book.ttf') format('truetype'),
        url('../fonts/ApexNew-Book.svg#ApexNew-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApexNew-Light';
    src: url('../fonts/ApexNew-Light.eot');
    src: url('../fonts/ApexNew-Light.eot?#iefix') format('embedded-opentype'),
             url('../fonts/ApexNew-Light.woff') format('woff'),
             url('../fonts/ApexNew-Light.ttf') format('truetype'),
             url('../fonts/ApexNew-Light.svg#ApexNew-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApexNew-Medium';
    src: url('../fonts/ApexNew-Medium.eot');
    src: url('../fonts/ApexNew-Medium.eot?#iefix') format('embedded-opentype'),
             url('../fonts/ApexNew-Medium.woff') format('woff'),
             url('../fonts/ApexNew-Medium.ttf') format('truetype'),
             url('../fonts/ApexNew-Medium.svg#ApexNew-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApexNew-Thin';
    src: url('../fonts/ApexNew-Thin.eot');
    src: url('../fonts/ApexNew-Thin.eot?#iefix') format('embedded-opentype'),
             url('../fonts/ApexNew-Thin.woff') format('woff'),
             url('../fonts/ApexNew-Thin.ttf') format('truetype'),
             url('../fonts/$(ApexNew-Thin.svg#ApexNew-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}