@import "compass";
@import "compass_twitter_bootstrap/mixins";

body {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 11px;
    line-height: 24px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #121212;
    color: white;
    text-align: center;
    background-image: url(../images/bgGrid.png);
    background-size: 100%;
    background-repeat:no-repeat;
}

#logo{
    position: absolute;
    top: 20px;
    left: 20px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:263px;   /* Height of the footer */
   background-image: url(../images/footerFade.png);
   z-index: -10;
}

.stacheButton
{
    cursor: pointer;
    color: #ff007e;
    text-transform:uppercase;
    margin: 0 auto;
    font-size: 20px;
    padding: 5px;
    background: url(../images/arrowSmall.png) no-repeat center right;

}

.stacheButton.small
{
    font-size: 15px;
}

.stacheButton.big
{
    float: right;
    font-size: 26px;
    background: url(../images/bigArrowRight.png) no-repeat center right;
}

.stacheButton.big.inactive
{
    background: url(../images/bigArrowRightGray.png) no-repeat center right;
    color: #333;
}

.stacheButton.big.left
{
    float: left;
    background: url(../images/bigArrowLeft.png) no-repeat center left;
}

#nextBack
{
    width: 650px;
    position: relative;
    top: -220px;
    margin: 0 auto;
}

#starter
{
    width: 170px;
    z-index: 10;
}

#takePicture
{
    display: none;
    margin: 0 auto;
    margin-top: 40px;
    height: 120px;
    cursor: pointer;
    background: url(../images/cameraUp.png) no-repeat bottom center;
}

#takePicture:hover
{
    display: none;
    margin: 0 auto;
    margin-top: 40px;
    height: 120px;
    background: url(../images/cameraOver.png) no-repeat bottom center;
}

#redoPicture
{
    display: none;
    margin: 0 auto;
    margin-top: 40px;
    height: 120px;
    cursor: pointer;
    background: url(../images/redoOut.png) no-repeat bottom center;
}

#redoPicture:hover
{
    display: none;
    margin: 0 auto;
    margin-top: 40px;
    height: 120px;
    background: url(../images/redoOver.png) no-repeat bottom center;
}

#getPoints
{
    width: 145px;
    display: none;
}

#acceptImage
{
    width: 100px;
    display: none;
}

#retakePic
{
    width: 100px;
    display: none;
}

#adjust
{
    display: none;
    margin: 0 auto;
}

#contentArea{
    width: 960px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

#pictureViewer
{
    height: 510px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
}

#pictureViewer.ready
{
    height: 410px;
    width: 410px;
    padding: 10px;
    background: url(../images/camCorner.png) no-repeat center center;
}


#output {
    -webkit-transform: scale(-1, 1);
}

#imageHolder {
    overflow: hidden;
    position: relative;
    width: 640px;
    height: 480px;
    top: -490px;
    margin: 0 auto;
    -webkit-transform: scale(-1, 1);

}

#imageHolder img{
    position: relative;
    top: 0px;
    left: 0px;
}
        

#mustacheMolder {
    overflow: hidden;
    position: relative;
    top: -960px;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 8;
}

#mustacheWave {
    overflow: hidden;
    position: relative;
    top: -1450px;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 6;
}


#loadStache{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/homeStache2.png) no-repeat center center;
    @include mask( "../images/stacheMask.png" , 0px, 0px, 1280px, 800px, no-repeat);
    @include animation(myfirst 15s);

}

@keyframes myfirst
{
    0% {
        mask-position: -1280px 0px;
    }
    100% {
        mask-position: 0px 0px;
    }
}
@-moz-keyframes myfirst /* Firefox */
{
    0% {
        -moz-mask-position: -1280px 0px;
    }
    100% {
        -moz-mask-position: 0px 0px;
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0% {
        -webkit-mask-position: -1280px 0px;
    }
    100% {
        -webkit-mask-position: 0px 0px;
    }
}


    


#fillClosed
{
    z-index: 10;
    position: relative;
}

path
{
    cursor: pointer;
}

circle
{
    cursor: pointer;
}